<div class="grid" >
  <div class="row cells3">
    <div class="cell">
      <div class="panel">
        <div class="heading">
            <span class="icon mif-home"></span>
            <span class="title">Inversion</span>
        </div>
        <div class="content padding30">
          <div class="row cells2">
            <label for="" class="cell">
              <h6>Costo del espejo</h6>
            </label>
            <div class="input-control text cell " data-role="input">
                <input type="number"
                       [(ngModel)]="costoEspejo">
            </div>
          </div>
          <div class="row cells2">
            <label for="" class="cell">
              <h6>Numero de Espejos</h6>
            </label>
            <div class="input-control text cell " data-role="input">
                <input type="number"
                       [(ngModel)]="numEspejo">
            </div>
          </div>
          <div class="row cells2">
            <label for="" class="cell">
              <h6>Inversion Inicial</h6>
            </label>
            <div class="input-control text cell " data-role="input">
                <input type="number"
                       [(ngModel)]="invInicial">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cell colspan2">
      <div class="panel">
        <div class="heading">
            <span class="icon mif-home"></span>
            <span class="title">Costos y Publicidad</span>
        </div>
        <div class="content padding30">
          <div class="grid">
            <div class="row cells2">
              <div class="cell">
                <div class="row cells2">
                  <label for="" class="cell">
                    <h6>Cantidad de anunciantes</h6>
                  </label>
                  <div class="input-control text cell " data-role="input">
                      <input type="number">
                  </div>
                </div>
                <div class="row cells2">
                  <label for="" class="cell">
                    <h6>Porcentaje de la Sociedad</h6>
                  </label>
                  <div class="input-control text cell " data-role="input">
                      <input type="number"
                             [(ngModel)]="porcSociedad">
                  </div>
                </div>
                <div class="row cells2">
                  <label for="" class="cell">
                    <h6>Impuestos</h6>
                  </label>
                  <div class="input-control text cell " data-role="input">
                      <input type="number"
                             [(ngModel)]="porcImpues">
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="row cells2">
                  <label for="" class="cell">
                    <h6>Costo diario</h6>
                  </label>
                  <div class="input-control text cell " data-role="input">
                      <p>{{costoDiario}}</p>
                      <input type="number"
                             [(ngModel)]="costoDiario">
                  </div>
                </div>
                <div class="row cells2">
                  <label for="" class="cell">
                    <h6>Cantidad de Espejos donde se mostrara la publicidad</h6>
                  </label>
                  <div class="input-control text cell " data-role="input">
                      <input type="number"
                             [(ngModel)]="cantEspePub">
                  </div>
                </div>
                <div class="row cells2">
                  <label for="" class="cell">
                    <h6>Tiempo de contrato</h6>
                  </label>
                  <div class="input-control text cell " data-role="input">
                      <input type="number"
                             [(ngModel)]="tiempContrato">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row cells3">
    <div class="cell">
      <div class="panel">
        <div class="heading">
            <span class="icon mif-home"></span>
            <span class="title">Facturacion</span>
        </div>
        <div class="content padding20">
          <div class="row cells2">
            <label for="" class="cell">
              <h6>Facturacion diaria</h6>
            </label>
            <div class="input-control text cell " data-role="input">
                <p>{{factDiaria}}</p>
                <input type="number">
            </div>
          </div>
          <div class="row cells2">
            <label for="" class="cell">
              <h6>Facturacion Mensual</h6>
            </label>
            <div class="input-control text cell " data-role="input">
                <p>{{factMensual}}</p>
                <input type="number">
            </div>
          </div>
          <div class="row cells2">
            <label for="" class="cell">
              <h6>Facturación Anual</h6>
            </label>
            <div class="input-control text cell " data-role="input">
                <p>{{factAnual}}</p>
                <input type="number">
            </div>
           </div>
          <div class="row cells2">
            <label for="" class="cell">
              <h6>Facturación Anual luego de impuestos</h6>
            </label>
            <div class="input-control text cell " data-role="input">
                <input type="number">
            </div>
           </div>
        </div>
      </div>
    </div>
    <div class="cell colspan2">
      <div class="panel">
        <div class="heading">
            <span class="icon mif-home"></span>
            <span class="title">Ganancia</span>
        </div>
        <div class="content padding20">
          <div class="row cells2">
            <label for="" class="cell">
              <h6>	Inversión Inicial</h6>
            </label>
            <div class="input-control text cell " data-role="input">
                <p>{{invInicial}}</p>
                <input type="number">
            </div>
          </div>
          <div class="row cells2">
            <label for="" class="cell">
              <h6>Mes estimado del Retorno de inversión</h6>
            </label>
            <div class="input-control text cell " data-role="input">
                <p>{{mesEstiReIn}}</p>
                <input type="number">
            </div>
          </div>
          <div class="row cells2">
            <label for="" class="cell">
              <h6>Ganancia a los 24 meses</h6>
            </label>
            <div class="input-control text cell " data-role="input">
                <p>{{gananciaMes}}</p>
                <input type="number">
            </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>


