<table class="tg" style="undefined;table-layout: fixed; width: 714px">
<colgroup>
<col style="width: 109px">
<col style="width: 99px">
<col style="width: 102px">
<col style="width: 93px">
<col style="width: 206px">
<col style="width: 105px">
</colgroup>
  <tr>
    <th class="tg-l135">Informacion</th>
    <th class="tg-l135">Cantidad</th>
    <th class="tg-l135">Ver tabla</th>
    <th class="tg-rkwu"></th>
    <th class="tg-t2g0">Facturacion diaria</th>
    <th class="tg-rkwu"></th>
  </tr>
  <tr>
    <td class="tg-r5us">Costo<br>  del espejo</td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-t2g0">Facturacion Mensual</td>
    <td class="tg-rkwu"></td>
  </tr>
  <tr>
    <td class="tg-r5us">Número<br>  de Espejos</td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-t2g0">Facturación<br>  Anual</td>
    <td class="tg-o4jq"></td>
  </tr>
  <tr>
    <td class="tg-r5us">Inversión<br>  Inicial</td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-t2g0">Facturación<br>  Anual luego de impuestos</td>
    <td class="tg-rkwu"></td>
  </tr>
  <tr>
    <td class="tg-r5us">Cantidad<br>  de anunciantes</td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-t2g0">Inversión<br>  Inicial</td>
    <td class="tg-rkwu"></td>
  </tr>
  <tr>
    <td class="tg-r5us">Porcentaje<br>  de la Sociedad</td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-t2g0">Mes<br>  estimado del Retorno de inversión</td>
    <td class="tg-rkwu"></td>
  </tr>
  <tr>
    <td class="tg-r5us">Impuestos</td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-t2g0">Ganancia<br>  a los 24 meses</td>
    <td class="tg-rkwu"></td>
  </tr>
  <tr>
    <td class="tg-pkbk" colspan="3">Tarifa tipo A</td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
  </tr>
  <tr>
    <td class="tg-rkwu" colspan="2">Costo Diario</td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
  </tr>
  <tr>
    <td class="tg-rkwu" colspan="2">Cantidad de Espejos donde <br>se mostrara la publicidad</td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
  </tr>
  <tr>
    <td class="tg-rkwu" colspan="2">Tiempo de contrato</td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
    <td class="tg-rkwu"></td>
  </tr>
</table>