@import '../../../styles/variables';

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-rkwu{font-family:"Courier New", Courier, monospace !important;;vertical-align:top}
.tg .tg-l135{font-family:"Courier New", Courier, monospace !important;;background-color:#663234;color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-t2g0{font-family:"Courier New", Courier, monospace !important;;background-color:#003532;color:#ffffff;vertical-align:top}
.tg .tg-r5us{font-family:"Courier New", Courier, monospace !important;;text-align:center;vertical-align:top}
.tg .tg-o4jq{font-family:"Courier New", Courier, monospace !important;;color:#ffffff;vertical-align:top}
.tg .tg-pkbk{font-family:"Courier New", Courier, monospace !important;;background-color:#036400;color:#ffffff;vertical-align:top}