<nav class="navbar">
    <button type="button" class="btn btn-primary" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" 
              aria-hidden="true" 
              [routerLink]="['Home']">
            <a class="menuItem" >Info Base</a>
        </span>
    </button>
    <button type="button" class="btn btn-primary" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" 
              aria-hidden="true" 
              [routerLink]="['Proyection']">
            <a class="menuItem" >Proyeccion</a>
        </span>
    </button>
    
</nav>
