<table class="tg">
  <tr>
    <th class="tg-wq1h">Mes</th>
    <th class="tg-wq1h">Inversión<br>  Inicial</th>
    <th class="tg-wq1h">Facturación<br>  Estimada diaria Total</th>
    <th class="tg-wq1h">Facturación<br>  Estimada Mensual Total</th>
    <th class="tg-wq1h">Facturación<br>  Estimada Anual Total</th>
    <th class="tg-wq1h">Utildad<br>  despues de los impuestos</th>
    <th class="tg-9ak2">Utilidad o Perdida</th>
  </tr>
  <tr>
    <td class="tg-suao">1</td>
    <td class="tg-suao">14.000</td>
    <td class="tg-suao">$120</td>
    <td class="tg-suao">$3.600</td>
    <td class="tg-suao"></td>
    <td class="tg-suao"></td>
    <td class="tg-m8vt">-$10.400</td>
  </tr>
  <tr>
    <td class="tg-suao">Proyección<br>  a 12 meses</td>
    <td class="tg-suao">$14.000</td>
    <td class="tg-suao">$1.440</td>
    <td class="tg-suao">$43.200</td>
    <td class="tg-suao">$43.200</td>
    <td class="tg-suao">$36.720</td>
    <td class="tg-m8vt">$22.720</td>
  </tr>
  <tr>
    <td class="tg-m8vt">Proyección<br>  a 24 meses</td>
    <td class="tg-m8vt">$14.000</td>
    <td class="tg-m8vt">$2.880</td>
    <td class="tg-m8vt">$86.400</td>
    <td class="tg-m8vt">$86.400</td>
    <td class="tg-m8vt">$73.440</td>
    <td class="tg-m8vt">$59.440</td>
  </tr>
  <tr>
    <td class="tg-suao"></td>
    <td class="tg-suao"></td>
    <td class="tg-suao">Sin impuestos</td>
    <td class="tg-suao"></td>
    <td class="tg-suao"></td>
    <td class="tg-suao">Despues de impuestos</td>
    <td class="tg-m8vt"></td>
  </tr>
</table>